{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
    <div class="center-4-imgs">
        <div class="top-img">
            <img src="{{ asset('assets/img/top/f10_top.jpg') }}" />
        </div>
    </div>
    <div class="site-name">アパレル卸問屋．ｃｏｍにはブランド商品の「新古品」がたくさん！！</div>
    <div class="center-4-imgs">
        <div class="top-img">
            <img src="{{ asset('assets/img/top/f10_middle.jpg') }}" />
        </div>
    </div>
    <div class="center-4-imgs">
        <h3><span class="text-bold">Q..アパレル卸問屋．ＣＯＭにはどうしてこんなにたくさんのブランド品が並んでいるの！？</span></h3><br>
        <p class="add-check-normal">
        →アパレル卸問屋.COMは、大手買取ショップとの業務提携を行っております。提携先買取ショップも一社だけではありません。 この業務提携によって、常時、ブランドアパレルの商品を豊富に確保することを可能にしています。<br>
        新品も中古品も、ブランドアパレルの品揃えの豊富さには自信があります。 掲載商品はすべて、ひとつひとつ社内で検査し、自社基準をクリアした商品のみです。 また、お客様満足を第一に考えておりますので、お値段も精一杯頑張らせていただきます。 メルカリ・ヤフオクで転売されても十分利益が出るのではないかとおもいます。<br>
        </p>
        <h3><span class="text-bold">Q.どうして大手買取ショップは新古品ブランド洋服を自分達で売らないの？</span></h3><br>
        <p class="add-check-normal">
        → 一言で説明してしまうと、『<span class="text-bold">適材適所</span>』です。<br>
        買取ショップはブランド品の『買取』に特化して営業されています。 反対に、弊社はアパレル品の『販売』に特化しております。<br>
        買取ショップは利益率の高い分野を自社業務にして伸ばし、利益率の低い分野を社外に外注して社員の負担を減らしているということですね。<br><br>
        買取ショップを想像していただきたいのですが、店舗の出店場所は目立つところで、入りやすい場所ですよね。路面店も多いです。こういった店舗は家賃が高いです。<br>
        店内を想像してみてください。『買取』のみだと、小さな店舗でカウンターが一つでも対応ができますね。ですが、アパレル商品の『販売』だとどうでしょう。商品の陳列棚・ショーケース・フィッティングルーム…。洋服ですから、全サイズを取り揃えています。そうなると、広い店舗が必要になってきますね。<br><br>
        買取ショップで商品を『販売』するなら、高価なバック・時計のみに絞って展開するほうが利益を残せるのです。商品の陳列スペースも少なくて済みます。<br>
        上記の理由で、買取ショップのブランドアパレルをアパレル卸問屋.comでまとめて買取させていただいております。<br>
        </p>
        <div class="top-img">
            <img src="{{ asset('assets/img/top/f10_middle.jpg') }}" />
        </div>
        <p class="add-check-normal">
        <span class="text-bold">Q.新古品の基準ってなに？</span><br><br>
        → <a href="{{ url('homepage') }}">アパレル卸問屋.COM</a>の新古品基準は下記です。Q.新古品の基準ってなに？<br>
        <span class="text-red-bold">の新古品基準は下記です。Q.新古品の基準ってなに？</span><br>
        シンプルに、これだけです。<br><br>
        逆に、使用感以外はチェックしておりませんので、ほつれ等々がある場合がありますが、<br>
        こういった場合でもノークレームノーリターンとなっております。<br><br>
        商品をできるだけ安くお渡しするために、ざっくりなオペレーションになっております。<br>
        ご容赦くださいませ。
        </p><br><br><br>
        
    </div>
</div>
{% endblock %}