{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

<div class="ec-role">
    <table border="1" cellpadding="0" cellspacing="0" class="aboutTbl" width="100%">
    <tbody>
        <tr>
            <th>商号</th>
            <td>株式会社shoichi</td>
        </tr>
        <tr>
            <th>代表取締役</th>
            <td>山本 昌一</td>
        </tr>
        <tr>
            <th>設立日</th>
            <td>2005年1月21日設立</td>
        </tr>
        <tr>
            <th>資本金</th>
            <td>40,000,000円</td>
        </tr>
        <tr>
            <th>社員数</th>
            <td>正社員20名 外注20名 パート20名(2014年05月)</td>
        </tr>
        <tr>
            <th>主要取引銀行</th>
            <td>大阪東信用金庫 大阪営業部<br>
            大阪信用金庫 西支店<br>
            三菱東京UFJ銀行 なんば支店</td>
        </tr>
        <tr>
            <th>古物証許可番号</th>
            <td>第621070161240号</td>
        </tr>
        <tr>
            <th>顧問弁護士</th>
            <td>平野法律事務所 弁護士 平野 潤</td>
        </tr>
        <tr>
            <th>顧問社労士</th>
            <td>武田社労士事務所</td>
        </tr>
        <tr>
            <th>顧問会計事務所</th>
            <td>税理士法人 Brain Trust</td>
        </tr>
        <tr>
            <th>お問合せ</th>
            <td><a href="{{ url('contact') }}" target="_self">こちらのフォームより</a></td>
        </tr>

    </tbody>
    </table>
    <div class="site-name">大阪本社</div>
    <div class="center-4-imgs">
        <p class="add-check-normal">
            <a style="color:#000" target="_blank" href="https://storage.googleapis.com/staging.adroit-chemist-211614.appspot.com/wp-content/uploads/2016/05/1a9c1108fc2b510d21d202fa4c625f86.jpg">株式会社SHOICHI本社外観</a>
        </p>        
    </div>
    <table border="1" cellpadding="0" cellspacing="0" class="aboutTbl" width="100%">
        <tbody>
            <tr>
                <th>本社所在地</th>
                <td>〒541-0054 大阪市中央区南本町2丁目6番5号 ファースト船場 301<br>
                <br>
                <span style="color:#FF0000;">●返品などの送り先については下記になります　</span><br>
                <strong>大阪府大阪市西成区玉出西2-16-21&nbsp;</strong></td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>
                <span style="color:#FF0000;">●アパレル卸問屋.comに関するお問い合わせは </span><br>
                <strong>TEL: 06-6653-0575&nbsp; 　まで</strong></td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>06-6258-6113</td>
            </tr>
        </tbody>
    </table><br>
    <h3><span class="text-bold">Googleマップ</span></h3><br>
    <iframe class="about" allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.9039251755544!2d135.5021423150113!3d34.68237418043918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6564bc15403%3A0xa4fc8667741ccf7a!2z5qCq5byP5Lya56S-U2hvaWNoaQ!5e0!3m2!1sja!2sjp!4v1533480381760" style="border:0" ></iframe>
    <div class="site-name">東京本社</div>
    <table border="1" cellpadding="0" cellspacing="0" class="aboutTbl" width="100%">
        <tbody>
            <tr>
                <th>所在地</th>
                <td>〒101-0032 東京都千代田区岩本町１丁目４-５ SAKURAビル5F</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>03-6869-8173</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>06-6258-6113</td>
            </tr>
        </tbody>
    </table>
    <div class="site-name">沿革</div>
    <table border="1" cellpadding="0" cellspacing="0" class="aboutTbl" width="100%">
        <tbody>
            <tr>
                <th>2000年</th>
                <td>弊社代表がリサイクルブランドアパレルを取り扱うECショップを開業。</td>
            </tr>
            <tr>
                <th>2004年</th>
                <td>アパレルに特化した在庫処分サービスを開始。インポート商品を取り扱う。</td>
            </tr>
            <tr>
                <th>2005年</th>
                <td>1月21日、有限会社Shoichiを設立。</td>
            </tr>
            <tr>
                <th>2005年</th>
                <td>リサイクルブランドアパレルから撤退。在庫処分サービスに集中</td>
            </tr>
            <tr>
                <th>2007年</th>
                <td>在庫処分サービスにて、国内ブランドの取り扱いが増加。弊社取扱い高の5割を占める。</td>
            </tr>
            <tr>
                <th>2008年</th>
                <td>6月21日。20～28歳前後の女性をターゲットにした<strong>LOVE FASHION OUTLET</strong>を開店。ブランド在庫、トレンド衣料を中心にそろえる。</td>
            </tr>
            <tr>
                <th>2009年</th>
                <td>MARTHA リリース</td>
            </tr>
            <tr>
                <th>2009年</th>
                <td>ベトナム ハノイに、Kana mode feeling Tokyo出店。</td>
            </tr>
            <tr>
                <th>2011年</th>
                <td>社名を株式会社Shoichiに変更</td>
            </tr>
            <tr>
                <th>2014年</th>
                <td>資本金4000万円に増資</td>
            </tr>
            <tr>
                <th>2018年</th>
                <td>大阪本社移転</td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}