{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
    <div class="center-4-imgs">
        <p class="add-check-normal">        
        ■Q：個人事業主ではない普通の主婦ですが、購入は可能ですか？<br>
            &nbsp;&nbsp;&nbsp;A：もちろん可能です！ぜひ当店からお安く仕入れをしてください。
        </p><br>
        <p class="add-check-normal">        
        ■Q：購入するのに会員登録は必須ですか？<br>
            &nbsp;&nbsp;&nbsp;A：必須ではありません。お客様情報やお支払い方法を入力するだけでご購入いただけます。<br>
        　　ただし、会員登録いただきますと、会員ログインすることができますので次回以降、<br>
        　　入力頂く内容が少なくなりスムーズにお買い物いただけます。<br>
        </p><br>
        <p class="add-check-normal">        
        ■Q：確定メールが届きません。<br>
            &nbsp;&nbsp;&nbsp;A：ご注文確認後、商品を確保してから手動でお送りしております。<br>
        　　そのためタイムラグが生じます。<br>
        　　1日経っても届かない場合は問い合わせフォームよりお問い合わせ下さいませ。<br>
        </p><br>
        <p class="add-check-normal">        
        ■Q：メルマガ受信するのにお金は必要ですか？<br>
            &nbsp;&nbsp;&nbsp;A：ご購入後、自動配信メールをお送りさせて頂いておりますが、お客様の受信設定により<br>
        　　メールが届かないということがございます。<br>
        　　ドメイン受信設定や迷惑メール設定をご確認下さいませ。<br>
        </p><br>
        <p class="add-check-normal">        
        ■Q：「アソート商品」とは何ですか？<br>
            &nbsp;&nbsp;&nbsp;A：トップスやボトムスなどのアイテムがいろいろ入っているものになります。<br>
        　　お菓子のアソートなどイメージしやすいかと思います。<br>
        　　いろいろな価格の物をアイテムやサイズの選別をせずに入れることにより、<br>
        　　コストを抑え1点単価をお安く提供できます。<br>
        　　  転売を始める方は最初は「目利き」をするのが難しいと思いますので<br>
        　　  特にオススメです。<br>
        　　  とにかく安く仕入れたい！という方ももちろんオススメです。 <br>
        </p><br>
        <p class="add-check-normal">        
        ■Q：サイズなどは指定できないのですか？<br>
            &nbsp;&nbsp;&nbsp;A：はい。商品ごとに均等に在庫があるわけではないので指定等はできません。<br>
        　　またアソート商品も特性上、指定はできません。<br>
        　　ご自身で着用していただくことは想定しておらず、<br>
        　　あくまで転売など商売をして頂く方に向けた「卸」のサイトになります。<br>
        　　転売市場ではサイズは関係ないのでこのようになります。<br>
        </p><br>
        <p class="add-check-normal">        
        ■Q：販売利益が出たら、税金などの申告は必要ですか？<br>
            &nbsp;&nbsp;&nbsp;A：必要ですが、経費を差し引きすることで、売上＝利益とはなりません。<br>
        　　パソコン、ネット費用（一部）、家賃（一部）、販売に必要なファッション雑誌購入など、<br>
        　　全てではありませんが、 経費に入れることができます。<br>
        　　詳しくは税理士さんに質問されるか、インターネット等で調べてみましょう。<br>
        </p><br>
        <p class="add-check-normal">        
        ■Q：旦那の扶養に入っていますが、税金の負担が出ないようにするにはどうしたらいいですか？<br>
            &nbsp;&nbsp;&nbsp;A：扶養控除内の金額にすれば良いです。 詳しくはお近くの日本年金機構に問い合わせを。<br>
        　　 &nbsp;&nbsp;&nbsp;http://www.nenkin.go.jp/oshirase/taisetu/2018/201801/2018011001.html<br>
        </p><br>
    </div>
</div>

{% endblock %}