{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
    <div class="center-4-imgs">
        <p class="add-check-normal"  style="font-size:24px;font-weight:bold">
            お客さま各位<br><br>
            いつもご利用いただき誠にありがとうございます。<br>
            下記の期間は、東京2020オリンピック競技大会、<br>
            パラリンピック競技大会開催に伴い、<br>
            一部地域において荷物のお届けに遅れが生じる可能性があります。<br><br>
            【期間】<br>                   
        </p>
        <p class="add-check-normal">
            <span class="text-red-bold">7月23日～8月8日</span><br>
            <span class="text-red-bold">8月24日～9月5日</span><br><br>
        </p>
        <p class="add-check-normal"  style="font-size:24px;font-weight:bold">【対象エリア】</p>
        <p class="add-check-normal" style="margin-left:30px">
            <span class="text-bold">東京都</span><br>
            &nbsp;&nbsp;中央区、千代田区、渋谷区、江東区、港区、江戸川区（一部）、墨田区、品川区、<br>
            &nbsp;&nbsp;文京区、新宿区、世田谷区（一部）、府中市、調布市、三鷹市、小金井市、稲城市<br>
            <span class="text-bold">神奈川県</span><br>
            &nbsp;&nbsp;横浜市西区、南区、中区、港北区（一部）、保土ヶ谷区（一部）、相模原市緑区、<br>
            &nbsp;&nbsp;鎌倉市、藤沢市江ノ島、川崎市麻生区<br>
            <span class="text-bold">千葉県</span><br>
            &nbsp;&nbsp;千葉市美浜区、いすみ市（一部）、長生郡（一部）<br>
            <span class="text-bold">埼玉県</span><br>
            &nbsp;&nbsp;さいたま市中央区、川越市、朝霞市、和光市<br>
            <span class="text-bold">山梨県</span><br>
            &nbsp;&nbsp;南都留郡（一部）<br>
            <span class="text-bold">静岡県</span><br>
            &nbsp;&nbsp;御殿場市、裾野市、駿東郡（一部）<br>
            <span class="text-bold">北海道</span><br>
            &nbsp;&nbsp;札幌市中央区、東区、北区、白石区、厚別区、豊平区、清田区、南区<br>
            &nbsp;&nbsp;北広島市、江別市<br>
        </p><br><br>
        <p class="add-check-normal"  style="font-size:20px;font-weight:bold">
            通常2週間程度のお届けですが、道路状況などによっては<br>
            <span class="text-red-bold">その他の地域や配送予定時間にも影響が生じる可能性</span>があります。<br>
            お客さまには大変ご迷惑をおかけしますが、<br>
            ご了承のほど宜しくお願い申し上げます。<br>
        </p><br>

        
    </div>
</div>
{% endblock %}