{% extends 'default_frame.twig' %}

{% block main %}

{% set MailMagezineHistory = repository('Plugin\\MailMagazine4\\Entity\\MailMagazineSendHistory').getList() %}

<div class="ec-role">
    <div class="center-4-imgs">
        <p class="add-check-normal">        
        過去のメルマガのバックナンバーは一例はこちらから！<br>
        号外や限定商品などはすぐ売り切れてしまいますので、購入をご希望の方はメルマガ受信後すぐの購入をおススメします♪
        </p><br>
    </div>
    <div class="center-4-imgs">
    <p class="add-check-normal">
        {% for Mail in MailMagezineHistory %}
        <a href="{{ url('show_mailmaga_history', {id:Mail.id}) }}" style="color:#000"><u>{{ Mail.create_date|date('m/d')}}({{ Mail.create_date |date('l')|replace({'Sunday':'日','Monday':'月','Tuesday':'火','Wednesday':'水','Thursday':'木','Friday':'金','saturday':'土',})}})配信　超絶お得なメールマガジン</u></a><br>
        {% endfor %}
    </p><br>
    </div>
    
</div>
{% endblock %}