{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
    <span style="font-size:28px;"><u>【次回の開催】</u></span>
    <br>
    <strong style="color: rgb(255, 0, 0); font-size: 26px;">■9/5（日）・9/6（月）・9/7（火）</strong>
    <br>
    <br>
    <span style="font-size:26px;"><strong>～お得な大売り出し「shoichiセットセール」って？～</strong></span>
    <br>
    <br>
    <span style="font-size:18px;"><span style="font-size:24px;">毎月月初の日曜日から始まる３日間で、繊維街「大阪の船場」にて卸専門の大売り出しを行っています。<br>
            この３日間には日本全国から小売店様や量販店様が大阪にお越しいただき、弊社の問屋で実際に商品を手にとってお買い上げいただいております。<br>
            新規で仕入れをお探しのお客様もまずは一度、お越しくださいませ。<br>
            弊社営業が誠意を持ってご対応させていただきます。</span></span>
    <br>
    <br>
    <span style="font-size:20px;">【開催場所】shoichiセットセール会場<br>
        〒541-0058大阪市中央区南久宝寺町2-6-8<br>
        サントビル　402<br>
        TEL：06-6484-5779</span>
    <br>
    <span style="font-size:20px;">【開催時間】09：00～17：00<br>
    <span style="font-size:18px;"><iframe allowfullscreen="" height="300" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.0368115189153!2d135.50175281532663!3d34.679020391886574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e71901f061df%3A0xcc2745b3943cbed6!2z44K144Oz44OI44OT44Or!5e0!3m2!1sja!2sjp!4v1620271838854!5m2!1sja!2sjp" style="border:0;" width="400"></iframe></span><br>
    <br>
    <span style="font-size:26px;"><strong><span style="color:#FF0000;">・周辺の卸問屋に負けない圧倒的ロープライス！！<br>
    ・１セット約２０枚　幅広い商品を取り揃え！！<br>
    ・１店舗の小売店様でも仕入れしやすいミニマムな内容！</span></strong></span><br>
    <br>
    <span style="font-size:24px;">「セットセール」といって商品ごとに20点で１セット等、全てセット組をした状態で卸販売を行っております。<br>
    大手卸問屋などと比較して約半分とミニマムなセット内容なので、１店舗で経営されている小売店様でも仕入れがしやすい数量となっております。<br>
    弊社が運営する【アパレル卸問屋.com】に出品していない商品も多数取り揃えておりますので、ぜひ一度お越しくださいませ。<br>
    担当の営業が丁寧に仕入れのお手伝いをさせていただきます。</span><br>
    &nbsp; </span>
    <br><br>
    <span style="font-size:26px;"><strong><span style="color:#FF0000;">・周辺の卸問屋に負けない圧倒的ロープライス！！<br>
        ・１セット約２０枚　幅広い商品を取り揃え！！<br>
        ・１店舗の小売店様でも仕入れしやすいミニマムな内容！</span></strong></span>
    <br><br>
        <span style="font-size:24px;">「セットセール」といって商品ごとに20点で１セット等、全てセット組をした状態で卸販売を行っております。<br>
            大手卸問屋などと比較して約半分とミニマムなセット内容なので、１店舗で経営されている小売店様でも仕入れがしやすい数量となっております。<br>
            弊社が運営する【アパレル卸問屋.com】に出品していない商品も多数取り揃えておりますので、ぜひ一度お越しくださいませ。<br>
            担当の営業が丁寧に仕入れのお手伝いをさせていただきます。</span>
    
    <br>
    <div style="text-align: right;"><span style="font-size:20px;"><span style="font-size:16px;">株式会社shoichi</span></span></div>
    <br>
</div>

{% endblock %}