<div class="ec-headerRole">
    <ul class="inline bor_t_1 bor_b_1">
      <li class="pad_v_10 mar_r_20"><a title="ホーム" href="{{ url('homepage') }}" class="txt_c_333"><i class="ec-headerNav__itemIcon fas fa-home fa-fw"></i><span>ホーム<span></a></li>
      <li class="pad_v_10 mar_r_20"><a title="支払・配送について" href="{{ url('homepage') }}?mode=sk" class="txt_c_333"><i class="ec-headerNav__itemIcon fas fa-info-circle fa-fw"></i><span>支払・配送について</span></a></li>
      <li class="pad_v_10 mar_r_20"><a title="お問い合わせ" href="{{ url('contact') }}" class="txt_c_333"><i class="ec-headerNav__itemIcon fas fa-envelope fa-fw"></i><span>お問い合わせ</span></a></li>
      <li class="pad_v_10 mar_r_20"><a title="カートを見る" href="{{ url('cart') }}" class="txt_c_333"><i class="ec-headerNav__itemIcon fas fa-shopping-cart fa-fw"></i><span>カートを見る</span></a></li>
    </ul>
</div>