<div class="ec-role">
    <div class="site-name-no-bottom">
        御注文の流れ
    </div>
    <div class="center-2-imgs">
        <img class="flow" src="{{ asset('assets/img/top/flow_1.png') }}" alt="flow1" />
        <img class="flow" src="{{ asset('assets/img/top/flow_2.png') }}" alt="flow1" />
    </div>
</div>
<div class="ec-role" style="margin-bottom:100px">
    <div class="site-name-no-bottom">
        SNS
    </div>
    <div class="two1">
        Facebook
        <br>
            <div class="fb-page" data-href="https://www.facebook.com/appareloroshitonya/" data-tabs="timeline" data-width="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/appareloroshitonya/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/appareloroshitonya/">
                        アパレル卸問屋
                    </a>
                </blockquote>
            </div>

            <div id="fb-root"></div>
            <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2&appId=2156154144709920&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        </div>
        <div class="two1">
            Instagram
            <br>

                <iframe src="https://snapwidget.com/embed/614906" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        