{% if productHistory is defined %}
<div class="ec-role">
    <div class="site-name">最近チェックした商品</div>
    <div class="center-6-imgs">
        <ul class="ec-shelfGrid">
        {% for Product in productHistory %}
            <li class="ec-shelfGrid__item">
                <a href="{{ url('homepage', {pid: Product.id }) }}">
                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" />
                </a> <br> <br>        
                <a href="{{ url('homepage', {pid: Product.id }) }}">
                    <span>{{ Product.name }}</span>
                </a>           
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% else %}
{% endif %}